body {
    background-color: coral;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.element {
    width: 250px;
    height: 520px;
    background-color: azure;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    margin-bottom: 1px;
    margin-top: 2px;
}

.textfield {
    color: gray;
    width: 220px;
    height: 20px;
    border-color: dimgrey;
    border-radius: 5px;
    font-size: 10px;
    text-align: right;
    margin-right:8px;
    margin-bottom: 8px;

}
.phonefield {
    color: gray;
    width: 220px;
    height: 20px;
    border-color: dimgrey;
    border-radius: 5px;
    font-size: 10px;
    text-align: left;
    margin-right:8px;
    margin-bottom: 8px;
}
.filefield {
    color: gray;
    width: 220px;
    height: 20px;
    border-color: dimgrey;
    border-radius: 5px;
    font-size: 10px;
    text-align: right;
    margin-right:8px;
    margin-bottom: 8px;
}
.addressfield {
    color: gray;
    width: 220px;
    height: 50px;
    border-color: dimgrey;
    border-radius: 5px;
    font-size: 10px;
    text-align: right;
    margin-right:8px;
    margin-bottom: 8px;
}
.button {
    font-size: 10px;
    width: 200px;
    height: 30px;
    margin-right:20px;
   
}

.label {
    margin-right: 10px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0PX;
}

.dwmenu {
    color: gray;
    width: 220px;
    height: 30px;
    border-color: dimgrey;
    border-radius: 5px;
    font-size: 10px;
    text-align: right;
    margin-right:8px;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
}
