.container {
    display: flex;
}

.main {
    width: 650px;
    height: 285px;
}

.part {
    width: 350px;
    height: 290px;
}

.lsec1 {
    width: 650px;
    margin-top: 215px;
}

.rsec1 {
    width: 350;
}

.table, th,td {
    width: 650px;
    text-align: left;
    border-bottom: 1px solid gray;
}

.footer {
    width: 100%;
    height: 100%;
    margin-top: 250px;
}

.messagebox {
    width: 900px;
}