.container {
    display:inline-flex;
}
.main {
    width: 1000px;
    height: 300px;
}
.picture {
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: -260px;

}


h2 {
    background-color: rgb(70, 176, 247);
}

table {
    width: 500px;
    border-collapse: collapse;
}

td,th {
    border: 1px solid gray;
}

.header {
    text-align: center;
    font-weight: bold;
}

.tbblue {
    color: blue;
}