h1 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    background-color: darkgrey;
}

.div-pic {
    background-color: aliceblue;
    padding-bottom: 5px;
    padding-top: 10px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.div-text {
    text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
    width: 450px;
}

ul {
    line-height: 1.5;
}

li {
     margin-top: 0.5em ;
  margin-bottom: 0.5em ;
}

.pic-text {
    font-size: small;
}