* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.header {
    display: flex;
    background-color: rgb(188, 244, 244);
    width: 70%;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(222, 219, 219);
    font-family:'vazirmatn';
    padding-bottom: 10px;
}

.main {
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-bottom: 30px;
    background-color: rgb(188, 244, 244);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-wrap: wrap;
    font-family: 'vazirmatn';
    font-size: 12px;
    font-weight: bold;
}

.item {
    display: flex;
    width: 600px;
    height: 80px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255); 
    direction: rtl;
    justify-content: space-between;
}

.price {
    font-weight: normal;
}
.totalprice {
    display: flex;
    order: 3;
    direction: ltr;
    flex-direction: row;
    margin: 50px 170px 0 0 ;
    flex-shrink: 0;
    text-align: left;
}

.totalprice p {
    padding-right: 5px;
    flex-shrink: 0;
    text-align: left;
    min-width: 50px;
}

.detail {
    order: 2;
    margin-right: 10px;
    margin-top: 5px;
}

.detail p {
    width: 200px;
    padding-bottom: 5px;
}

.count {
    display: flex;
    width: 20px;
    margin-top: 5px;
}

.btnadd {
    background-color: rgb(157, 10, 10);
    color: white;
    padding: 1px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btnmines {
    background-color: rgb(157, 10, 10);
    color: white;
    padding: 1px 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.count p {
    padding: 0 8px;
}

.image img {
    order: 1;
    width: 90px;
    height: 80px;  
}